ion-content {
	--ion-background-color: var(--ion-color-light);
}

ion-toolbar {
    box-shadow: 0px 4px 5px -2px rgba(0,0,0,0.35);
}

textarea {
	width: calc(100% - 20px);
	margin-left: 10px;
    background-color: #fff;
	font-size: 1.2em;
	resize: none;
	border: none;
}   

ion-item {
	--ion-item-background: var(--ion-color-light);
}

.chat-bubble {

	width: 65%;
	overflow: hidden;

}

.chat-message {
	padding: 10px;
	border-radius: 5px;	
	background-color: #fff;
	white-space: normal;
}

.chat-author {
	margin: 0;
	font-style: italic;
	float: right;
}

ion-item:last-child .chat-bubble{
	animation: slideIn 0.2s cubic-bezier(0.65, 0.05, 0.36, 1);
	animation-fill-mode: forwards;
}

.own {

	margin-left: auto;

	.chat-message {
		background-color: var(--ion-color-primary);
		color: #fff;
	}
}

@keyframes slideIn {

	0% {
		width: 0;
	}

	100% {
		width: 65%;
	}

}