<ion-header no-border>
    <ion-toolbar color="primary">
      <ion-title>Chat</ion-title>
  
      <ion-buttons slot="start">
        <ion-button (click)="logout()" class="logout-button">
          <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
    <div *ngIf="!chats.length > 0" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>

    <ion-list class="chat-list" lines="none">
  
      <ion-item *ngFor="let chat of chats">
        <div class="chat-bubble" [class.own]="chat.author == userService?.currentUser?.user_id">
          <p class="chat-message">{{chat.message}}</p>
          <p class="chat-author">{{chat.author}}</p>
        </div>
      </ion-item>
    
    </ion-list>
  
  </ion-content>
  
  <ion-footer>
  
    <ion-toolbar>
  
      <textarea spellcheck="true" autoComplete="true" autocorrect="true" rows="1" class="chat-input" [(ngModel)]="message" placeholder="type message..." (keyup.enter)="addChat()">
      </textarea>
  
      <ion-buttons slot="primary">
        <ion-button [disabled]="!message.length > 0" (click)="addChat()" slot="end" class="send-chat-button">
           <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-buttons>
  
    </ion-toolbar>
  
  </ion-footer>