<ion-tabs>

  <ion-tab-bar color="primary" slot="top">
    <ion-tab-button tab="notices">
      <ion-icon name="clipboard"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="chat">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>