ion-content {
	--ion-background-color: var(--ion-color-light);

	ion-item, ion-card {
        --ion-item-background: #fff;
	}

}

ion-textarea textarea {
	width: 100%;
	height: 30vh;
}

.save-notice-button {
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;
}

.message-input .item-inner {
	border-bottom: none !important;
}