<ion-header>

    <ion-toolbar color="primary">
  
      <ion-title>Add Notice</ion-title>
  
      <ion-buttons slot="end">
        <ion-button class="close-modal-button" (click)="close()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  
</ion-header>
  
<ion-content>
    
    <ion-card>
  
      <ion-item class="title-input">
        <ion-label>Title:</ion-label>
        <ion-input type="text" [(ngModel)]="title" placeholder="(required)"></ion-input>
      </ion-item>
  
      <ion-item class="message-input">
        <ion-textarea [(ngModel)]="message" placeholder="type your message..."></ion-textarea>
      </ion-item>
  
      <ion-button [disabled]="!title.length > 0" class="save-notice-button" (click)="saveNotice()">Save Notice</ion-button>
  
    </ion-card>
  
</ion-content>