ion-content {
    --ion-background-color: var(--ion-color-primary);
}

.toolbar-background {
    background-color: #e06179 !important;
}

ion-item {
    
    --ion-item-background: transparent;

    ion-input {
        color: #cecece;	
        width: 100% !important;
        background-color: #e06179 !important;
        padding-left: 10px !important;
        margin: 10px 0 10px 10px !important;
        box-shadow: inset 1px 1px 2px 0px #c75363;
    }

    ion-label {
        color: #fff;
        font-weight: bold;
    }

}

.submit-warning {
    text-align: center;
    color: #fff;
}