<ion-header no-border>

  <ion-toolbar color="primary">
    <ion-title>Notices</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="logout()" class="logout-button">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openAddNoticePage()" class="add-notice-button">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

	<ion-list class="notice-list" lines="none">
		
			<div *ngIf="!notices.length > 0">
				<app-skeleton-card></app-skeleton-card>
				<app-skeleton-card></app-skeleton-card>
			</div>

	    <ion-card class="notice-cards" [class.deleting]="notice?.deleting" *ngFor="let notice of notices">

	      <ion-item>
	        <ion-avatar slot="start">
	          <img src="https://api.adorable.io/avatars/100/{{notice.author}}">
	        </ion-avatar>
	        <h2>{{notice.author}}</h2>
	      </ion-item>

	      <ion-card-content>

	        <div class="mega-text">
	          <p>{{notice.title}}</p>
	        </div>

	        <p class="message-content">{{notice.message}}</p>

	      </ion-card-content>

	      <div *ngIf="notice.author == userService?.currentUser?.user_id" class="control-buttons">

	        <ion-button (click)="deleteNotice(notice)" color="light" class="delete-notice-button" slot="start" fill="clear" size="small">
	          <ion-icon slot="icon-only" name="trash"></ion-icon>
	          <div>delete</div>
	        </ion-button>

	        <ion-button (click)="openAddNoticePage(notice)" color="primary" class="edit-notice-button" slot="start" fill="clear" size="small">
	          <ion-icon slot="icon-only" name="book"></ion-icon>
	          <div>edit</div>
	        </ion-button>

	      </div>

	    </ion-card>

	</ion-list>

</ion-content>