ion-content {
	--ion-background-color: var(--ion-color-primary);
}

ion-item {
	
	--ion-item-background: transparent;

	ion-input {
		color: #cecece;	
		width: 100% !important;
		background-color: #e06179 !important;
		padding-left: 10px !important;
		margin: 10px 0 10px 10px !important;
        box-shadow: inset 1px 1px 2px 0px #c75363;
    }
    
}

ion-footer {
	background-color: #e06179;
}

.login-button {
	margin-top: 10px;
	font-weight: bold;
	color: #7d7c7c;
}

#hangz-logo path {
	opacity: 0;
}

$letters: 6;
@for $i from 0 to $letters {
	#hangz-logo path:nth-child(#{$i}){
		$per: $i/5;
		animation: 1s #{$per}s linear fadeIn;
		animation-fill-mode: forwards;
	}
} 

.error-logging-in {
	background-color: #f7f07b;
	padding: 10px;
	text-align: center;
	border: 2px solid var(--ion-color-danger);
	animation: shake 0.7s ease-out;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {

	100% {
		opacity: 1;
	}

}

@keyframes shake {

	10%, 90% {
	  transform: translate3d(-1px, 0, 0);
	}
	
	20%, 80% {
	  transform: translate3d(2px, 0, 0);
	}
  
	30%, 50%, 70% {
	  transform: translate3d(-4px, 0, 0);
	}
  
	40%, 60% {
	  transform: translate3d(4px, 0, 0);
	}
  
}